<div id="footer" class="container">
    <div class="row">
        <div id="footer-for-install" class="row bg-light border rounded my-3 p-3" hidden>
            <div class="col"></div>
            <div class="col-auto">Ако все още не сте инсталирали това приложение, може да го направите от тук:</div>
            <button class="col-auto btn btn-primary">Инсталирай</button>
            <div class="col"></div>
        </div>
    </div>
</div>
