{{>../errorNotification}}
<div id="header" class="container-fluid bg-light px-3 pt-3">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="searching-for">За</label>
                    </div>
                    <select class="custom-select" id="searching-for" name="searching-for">
                        <option value="group" selected>класно</option>
                        <option value="lecturer">преподавател</option>
                        <option value="room">зала</option>
                    </select>
                </div>

                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="code-label">Код</span>
                    </div>
                    <input type="text" id="code" name="code" class="form-control"
                           placeholder="Въведи класно/код/зала"
                           aria-label="Въведи класно/код/зала" aria-describedby="code-label">
                </div>

                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="period">Период</label>
                    </div>
                    <select class="custom-select" id="period" name="period">
                        <option value="day" selected>ден</option>
                        <option value="week">седмица</option>
                        <option value="weeks">седмици</option>
                    </select>
                    <div class="input-group-append">
                        <input class="form-control" type="number" id="weeks-count" name="weeks-count"
                               placeholder="колко (с цифри)" hidden>
                    </div>
                </div>

                <div class="input-group m-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="date-label">Дата</span>
                    </div>
                    <input type="text" id="date" name="date" class="form-control" placeholder="Въведи дата"
                           aria-label="Въведи дата" aria-describedby="date-label">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2 justify-content-center">
        <button id="submit-btn" class="col-auto btn btn-primary m-2">Покажи</button>
        <a id="advanced-usage-btn" href="#/advanced-usage" class="col-auto btn btn-secondary m-2">Ефикасно ползване</a>
        <style>
            .dropdown-hover {
                position: relative;
            }

            .dropdown-hover-content {
                position: absolute;
                top: 90%;
                left: 10%;
                display: none;
                z-index: 1;
            }

            .dropdown-hover:hover .dropdown-hover-content {
                display: block;
            }
        </style>
        <div class="dropdown-hover">
            <button id="more-btn" class="col-auto btn btn-secondary m-2">☰ Още</button>
            <div class="dropdown-hover-content dropdown-menu">
                <a class="dropdown-item" href="#/timetable">Разписание на часовете</a>
                <a class="dropdown-item" href="#/lecturers-codes">Преподаватели</a>
            </div>
        </div>
    </div>
</div>

