<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col m-2">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td colspan="2">
                        <div><strong><span>Нормално разписание на часовете </span></strong></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>8.00 - 8.45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>8.50 - 9.35</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>9.50 - 10.35</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>10.45 - 11.30</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>11.45 - 12.30</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>12.35 - 13.20</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>13.50 - 14.35</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>14.40 - 15.25</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>15.40 - 16.25</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>16.35 - 17.20</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>17.35 - 18.20</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>18.25 - 19.10</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div><strong><span>Съкратено разписание на часовете </span></strong></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>8.00 - 8.35</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>8.40 - 9.15</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>9.25 - 10.00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>10.10 - 10.45</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>10.55 - 11.30</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>11.35 - 12.10</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
