body{
    background-color: #E1E2E1;
    width: 100%;
}
body > div.afterBody{
align-items: center;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

form{
    background-color: #b3e5fc;
    width: 98%;
    padding: 10px;
    display: block;
    align-self: stretch;
}

.containerForRadios{
    padding: 5px;
    align-content: center;
    display: inline-block;
}

.radioSearchingFor{
    background-color: #e6ffff;
    border-radius: 2px;
    display: inline;
    padding: 2px;
    margin: 2px;
    border: solid 0.5px white;
}

@media only screen and (max-width: 600px){
    form.mainForm > label {
        display: block;
    }
    .radioSearchingFor{
        display: block;
        float: left;
    }
}

@media only screen and (max-width: 1300px){
    
}

ul.info{
    display: none;
}

label{
    padding: 5px;
}

ul, li, ol{
    width: inherit;
}

ul > li{
    background-color: #c5e1a5;
}

li.subject{
    background-color: #f8ffd7;
}

span.dayOfWeek{
    font-weight: bold;
    display: block;
}

ol {
    background-color: #82b3c9;
}

@media all and (display-mode: standalone) {
    footer {
        display: none;
    }
}

footer {
    text-align: center;
    background-color: #82b3c9;
    padding: 10px 5px;
    border-radius: 3px;
    border: white solid 0.5px;
    display: block;
    align-self: stretch;
}