<ol class="list-group bg-primary p-2 my-3">
    <span class="my-1 border rounded border-white p-3 font-weight-bold text-center bg-white" id="{{date}}">{{day}}, {{date}}</span>
    {{#each lessons}}
        {{> lesson }}
    {{/each}}
</ol>
