<li class="list-group-item list-group-item-action subject">
    <small>часове ({{span}}): {{time}}</small>
    <h6>{{name}}</h6>
    <ul class="list-group d-none">
        {{#each variousData}}
            <li class="list-group-item">{{this}}</li>
        {{/each}}
    </ul>
</li>
